.header {
  position: sticky;
  z-index: 1030;
  top: 0;
  min-height: var(--mc-scale-10);
}

.header__height {
  height: var(--mc-scale-10);
}

.page__content {
  min-height: 100vh;
}

.hero {
  margin-bottom: var(--mc-scale-9)
}

@media screen and (min-width: 768px) {
  .hero {
    min-height:500px;
    margin-bottom: calc(-1 * var(--mc-scale-8))
  }
}

.hero__img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%
}

.hero__img-wrapper {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  inset: 0;

  img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

@media screen and (min-width: 768px) {
  .hero__img {
    position:absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    padding: 0
  }

  .hero__img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background: linear-gradient(to right,var(--mc-color-neutral-1010) 0,rgba(var(--mc-color-neutral-1010-rgb),0) 100%)
  }
}

@media(min-width: 576px) {
  .cta-btn {
    max-width:160px
  }
}

.pricing-text {
  color: var(--mc-color-text-medium)
}

@media screen and (min-width: 576px) {
  .pricing-text {
    max-width:calc(320px + var(--mc-scale-3))
  }
}

@media screen and (min-width: 576px) {
  .classes-container {
    background-color:var(--mc-color-neutral-1000)
  }
}


.classes-icon, .skills {
  background-color: var(--mc-color-neutral-900)
}

.classes-icon {
  width: 48px;
  height: 48px
}


.jump-nav {
  position: sticky;
  z-index: 1000;
  top: calc(var(--mc-scale-10) - 1px);
  height: var(--mc-scale-10);

  box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);

  backdrop-filter: blur(6px);

  &::before {
    content: '';

    display: block;
    position: absolute;

    opacity: 0.85;
    background: var(--mc-color-neutral-1010);

    inset: 0;
  }
}

.jump-nav__item {
  border-bottom: 2px solid #272c33;
}

.jump-nav__item-active {
  transition: border-bottom-color 0.5s linear;

  border-bottom-color: #fff;
}

.details-play-icon circle {
  opacity: 1;
  fill: #e32652;
}

.details-scroll-outer {
  position: relative;
  overflow: auto;
}

@media (max-width: 768px) {
  .details-scroll-outer {
    min-height: 320px;
  }
}

.details-scroll-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .refreshed-banner {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .refreshed-banner {
    height: 335px;
  }
}

@media (min-width: 960px) {
  .refreshed-banner {
    height: 410px;
  }
}

@media (min-width: 1200px) {
  .refreshed-banner {
    height: 460px;
  }
}

.refreshed-banner__background {
  position: absolute;
  width: 100%;
}

@media (max-width: 768px) {
  .refreshed-banner__background {
    top: var(--mc-scale-4);
    height: 100%;
    padding-bottom: var(--mc-scale-2);
  }
}

@media (min-width: 768px) {
  .refreshed-banner__background {
    height: 303px;
  }
}

@media (min-width: 960px) {
  .refreshed-banner__background {
    height: 366px;
  }
}

@media (min-width: 1200px) {
  .refreshed-banner__background {
    height: 412px;
  }
}

.refreshed-banner__description {
  width: 326px;
}

.refreshed-banner__title {
  letter-spacing: -0.01em;
  line-height: 90%;
  white-space: nowrap;
}

.refreshed-banner__img {
  position: relative;

  aspect-ratio: 1;
}

@media (max-width: 576px) {
  .refreshed-banner__img {
    width: 45%;
  }
}

@media (min-width: 576px) {
  .refreshed-banner__img {
    height: 240px;
  }
}

@media (min-width: 768px) {
  .refreshed-banner__img {
    height: 335px;
  }
}

@media (min-width: 960px) {
  .refreshed-banner__img {
    height: 410px;
  }
}

@media (min-width: 1200px) {
  .refreshed-banner__img {
    height: 460px;
  }
}

.refreshed-banner__logo {
  width: 173px;
  height: 40px;
}

.refreshed-banner__info {
  z-index: 1;
}

.sticky-bottom {
  visibility: hidden;
  position: fixed;
  z-index: 1001;
  bottom: 0;
  width: 100%;

  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;

  opacity: 0;
  background: rgba(25, 28, 33, 95%);

  &--active {
    visibility: visible;

    transform: translateY(0);

    opacity: 1;
  }
}

.search-dropdown {
  z-index: 1060;
}

@media (min-width: 576px) {
  .search-dropdown {
    width: 370px;
  }
}

@media (min-width: 576px) {
  .menu {
    width: 300px;
  }
}

.menu-item {
  transition: opacity 0.2s ease;

  opacity: 0.6;
  background: none;

  color: inherit;
}

.menu-item:hover {
  opacity: 1;
}
